<link rel="stylesheet" href="/stylesheets/style-about-us.css" />

<div class="container">
  <div class="row">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-8">
    <h2>About Langeek</h2>

    <p>Langeek is a social media app where you can share your language learning journey with the world. You can choose what languages you speak and what languages you are currently learning and connect with people who can help you practice!</p>
    <p>Edit your profile according to your taste and create meaningful posts (or delete them later) and search your favorite language to see all the posts available! 
    </p>
    <p>This full-stack web application was developed by Telma Rosário and Diogo Monteiro at Ironhack. It's their 2nd module project for the BootCamp. Langeek has the intent of demonstrating authentication and authorization for users, as well as performing CRUD operations with a database. </p>
    <p>The main technologies we used were: MongoDB, Mongoose, Node.js, Express.js, HandleBars, Bootstrap and Javascript.</p>
    <p>Checkout <a href="https://github.com/diogofpmonteiro/langeek" target="_blank" class=".custom-atag">Langeek's repo on github</a> and <a href="https://github.com/telmarosario" target="_blank" class=".custom-atag">Telma's profile</a> and <a href="https://github.com/diogofpmonteiro" target="_blank"class=".custom-atag" >Diogo's profile.</a></p>
    </div>
    <div class="col-sm-0 col-md-2"></div>
  </div>
</div>


 




  

