<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    {{! Bootstrap link }}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    {{! Google fonts }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;600&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style-layout.css" />
  </head>

  <body>

    {{#if user}}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid custom-navbar-class">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.gif" alt="" width="90" height="90" class="d-inline-block align-text-top" />
          </a>
          <a class="logo-text" href="/">Langeek</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto me-auto w-50" action="/search" method="GET">
              <input
                class="form-control me-2"
                name="languageToSearch"
                type="text"
                placeholder="Search by language"
                aria-label="Search"
              />
              <button class="btn btn-light" type="submit">Search</button>
            </form>

            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create-post">+ Create</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{user._id}}">Me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    {{else}}

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid custom-navbar-class">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.gif" alt="" width="90" height="90" class="d-inline-block align-text-top" />
          </a>
          <a class="logo-text" href="/">Langeek</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>

    {{/if}}

    {{{body}}}

    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        This app was developed @Ironhack by Telma Rosário and Diogo Monteiro
        <br />
        <a class="text-dark" href="https://github.com/diogofpmonteiro/langeek"><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path>
          </svg>
          GitHub repo</a>
      </div>
      <!-- Copyright -->
    </footer>
    {{! JS bootstrsap }}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="/js/script.js"></script>
  </body>

</html>