  {{!-- Each --}}
  <div class="container">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        <div class="card my-5 w-100" style="width: 25rem">
          <h3> <img src="{{!-- post.title --}}" alt="">{{!-- post.author --}}</h3>
          <h5 class="card-title">{{!-- post.title --}}</h5>
          <img src="{{!-- post.picture --}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              {{!-- post.description --}}
            </p>
            <a href="#" class="btn btn-primary">{{!-- # post.language --}}</a>
          </div>
        </div>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>