.card {
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}

.card-text {
  font-size: 1.7em;
  text-align: justify;
  color: #212121;
}

.btn {
  background-color: #d9cab3;
  border: #d9cab3;
  color: #212121;
}

.btn:hover {
  background-color: #c0b39f;
}

.custom-atag {
  color: black;
}

.custom-atag:hover {
  color: #212121;
}

.container {
  margin-top: 2rem;
}

h3 {
  font-size: 2.7em;
  margin-bottom: 0.5em;
}

.username-span {
  font-size: 2.7em;
  margin-bottom: 0.5em;
  margin-right: 5em;
  font-weight: 600;
}
/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.custom-pfp {
  border-radius: 50px;
  width: 100%;
}

.custom-ahref {
  color: black;
}
