.card {
    padding: 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
}

.card-text {
    font-size: 1.7em;
    text-align: justify;
    color: #212121;
}

.btn {
    background-color: #D9CAB3;
    border: #D9CAB3;
    color: #212121;
}

.btn:hover {
    background-color: #c0b39f;
}

.custom-atag {
    color: black;
}

.custom-atag:hover {
    color: #212121;
}