body {
  font-family: 'Mukta', sans-serif;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.logo-text {
  font-family: 'Unica One', cursive;
  font-size: 2rem;
}
