.card {
  padding: 1rem;
}

.custom-user-link {
  color: #212121;
}

.custom-user-link:hover {
  color: #212121;
}

.custom-profile-picture {
  margin-right: 0.8rem;
}

.custom-username {
  font-size: 1.5rem;
}

.card-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}

.card-text {
  font-size: 1.7em;
  text-align: justify;
  color: #212121;
}

.btn {
  background-color: #d9cab3;
  border: #d9cab3;
}

.btn:hover {
  background-color: #c0b39f;
}

.custom-atag {
  color: black;
}

.custom-atag:hover {
  color: #212121;
}

.custom-comment {
  font-size: 1.5em;
  /* margin-top: 15px; */
}
