body {
  font-family: "Mukta", sans-serif;
  font-size: 10px;
  margin-top: 0;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.logo-text {
  font-family: "Unica One", cursive;
  font-size: 2rem;
}

.custom-navbar-class {
  background-color: #6d9886;
}

.navbar {
  padding-top: 0;
}

.nav-link {
  color: white;
  font-size: 2em;
}

.navbar-collapse {
  margin-left: 1.5rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.custom-form-input {
  margin-top: 15px;
  font-size: 1rem;
}
