

<form class="row g-3" action="/create-post" method="POST" enctype="multipart/form-data">

  <div class="col-md-6">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="title" required>
  </div>

   <div class="col-md-6">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="description" required></textarea>
  </div>

    <div class="col-md-4">
        <label class="form-label">This post is about...</label>
        <select class="form-select" name="languageTag" multiple required>
        {{#each languages}}
            <option>{{this}}</option>
         {{/each}}
        </select>
    </div>

  <div class="col-md-2">
    <label class="form-label">Photo</label>
    <input type="file" class="form-control" name="postPicture" required>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
</form>